*{
    --body-background:#508991;
    --body-color:#172A3A;
    --main-color:#74B3CE;
    --main-background:#004346;
    --text-color:#09BC8A;
    --white-wash:#edffec;
    --white:#fff;
    outline:none;
}
html,body{margin:0;
}body{
 background:var(--main-background);
 color:var(--body-color);
 width:100vw;
 display:flex;
 align-items:center;
 justify-content: center;
}
//topography
h2{
   font-size:1.2rem;
}
//main css
.main-body{
    width:70%;
    min-height: 400px;
    max-width:600px;
    border-radius:5px;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16),  0px 3px 6px rgba($color: #000000, $alpha: .23);
    margin:2em;
    background: var(--white-wash);
    position:relative;
}.main-nav{
    position:absolute;
    top:4%;
    left:30%;
    width:100%;
    padding:1em;
    padding-left: 2em;
    transform: translate(-50%, -50%);
    height:30px;
        .go-back{
            padding:.5em;
            background: var(--body-background);
            border:none;
            border-radius: 5px;
            color:var(--white-wash);
            text-decoration: none;
        }.go-back:hover{
            box-shadow: 0px 0px 0px 2px  var(--main-color);
        }.go-back:active{
            color:var(--body-color);
          }
}
.add{position:relative;
    .div-header{
        color:var(--body-color);
        display:flex;
        align-items: center;
        justify-content: center;
    }


}
.add-div{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    > div{
        width:calc(90% - .5em);
        padding:.5em;
        > input{
            width:calc(100% - .2em);
            padding:.4em;
            border:1px solid var(--body-color);
        }> input:focus{
            box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
            border:1px solid transparent;
        }
    }
    label{
        display:block;
        margin-bottom:.3rem;
    }#submit-div-add{
      position:absolute;
      bottom:-50%;
      right:calc(0% + .5em);
      input{
          color:var(--body-color);
          background: var(--white);
          box-shadow: var(--body-color) 0px 0px 0px 1px;
      }input:hover{
        color:var(--white);
        background: var(--body-color);
        box-shadow: var(--white) 0px 0px 0px 1px;
      }
    }
}
//media query less than 500
@media (max-width:600px){
    .main-nav{
        padding:1em;
        padding-left: 2em;
       
    }
}