{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Company/css/login.css'%}">
    <title>log-in</title>
</head>
<body>
    {% if messages %}
            <div class="row" style="height: 20vh;">
                <div class="col-md-8" id="messagealert" style="height: 20vh;">
                
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{message}}
                        </div>
                    {% endfor %}
                
                </div>
            </div>
    {% endif %}
    <main class="body-main">
        <header class="main-header">
            <h1>login</h1>
        </header>
        <form class="main-form" action="" method="POST">
        {% csrf_token %}
            <div class="form-div-email">
             <label class="label-email" for="email">
                 Username
             </label>
             <input type="text" name="username">
            </div>
            <div class="form-div-password">
               <label class="label-password" for="password">
                   Password
               </label>
               <input class="input-password" type="password" name="password">
            </div>
            <div class="form-forgot">
                <a href="#">Forgot password? </a>
            </div>
            <div class="form-div-submit">
                <input class="input-submit" type="submit" name="submit" value="login">
            </div>
            <div class="form-signup">
                <label class="signup-label"><p class="signup-p">or</p></label>
                <button class="signup-btn" id="signup-btn">sign up</button>
            </div>
        </form>
    </main>
</body>
</html>