{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Company/css/signup.css' %}">
    <title>sign-up</title>
</head>
<body>
    <main class="body-main">
        <header class="main-header">
            <h1>sign up</h1>
        </header>
        <form class="main-form" action="" method="POST">
        {% csrf_token %}

            <div>
                <label>
                     UserName
                </label>
                {{reg_form.username}}
            </div>
                <label>
                    Personal email (email will be used to send more information)
                </label>
                {{reg_form.email}}
            </div>
            {% comment %} <div>
                <label>
                    Select Role
                </label>
                <select class="select-role">
                    <option selected> select level</option>
                    <option> employee</option>
                    <option> customer</option>
                </select>
            </div> {% endcomment %}
            <div>
                <label>
                    Password
                </label>
                {{reg_form.password1}}
            </div>
            <div>
                <label>
                    Confirm Password
                </label>
                {{reg_form.password2}}
            </div>
            <div class="sign-up-btn">
                <input type="submit" value="sign up">
            </div>
            <div class="go-to-login">
                <p>Already have an account <a href="../login/login.html">log in</a></p>
            </div>
        </form>
    </main>
</body>
</html>