* {
  /* --body-background:#508991;
  --body-color:#172A3A; */
  --main-color:#74B3CE;
  /* --main-background:#004346; */
  --text-color:#09BC8A;
  --white-wash:#edffec;
  --white:#fff;
  outline: none;
}

html, body {
  margin: 0;
}

body {
  /* background: var(--main-background);
  color: var(--body-color); */
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-size: 1.2rem;
}

.main-body {
  width: 70%;
  min-height: 400px;
  max-width: 600px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2em;
  background: var(--white-wash);
  position: relative;
}

.main-nav {
  position: absolute;
  top: 4%;
  left: 30%;
  width: 100%;
  padding: 1em;
  padding-left: 2em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 30px;
}

.main-nav .go-back {
  padding: .5em;
  background: var(--body-background);
  border: none;
  border-radius: 5px;
  color: var(--white-wash);
}

.main-nav .go-back:hover {
  -webkit-box-shadow: 0px 0px 0px 2px var(--main-color);
          box-shadow: 0px 0px 0px 2px var(--main-color);
}

.add {
  position: relative;
}

.add .div-header {
  color: var(--body-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-div > div {
  width: calc(90% - .5em);
  padding: .5em;
}

.add-div > div > input {
  width: calc(100% - .2em);
  padding: .4em;
  border: 1px solid var(--body-color);
}

.add-div > div > input:focus {
  -webkit-box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
          box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
  border: 1px solid transparent;
}

.add-div label {
  display: block;
  margin-bottom: .3rem;
}

.add-div #submit-div-add {
  position: absolute;
  bottom: -50%;
  right: calc(0% + .5em);
}

.add-div #submit-div-add input {
  color: var(--body-color);
  background: var(--white);
  -webkit-box-shadow: var(--body-color) 0px 0px 0px 1px;
          box-shadow: var(--body-color) 0px 0px 0px 1px;
}

.add-div #submit-div-add input:hover {
  color: var(--white);
  background: var(--body-color);
  -webkit-box-shadow: var(--white) 0px 0px 0px 1px;
          box-shadow: var(--white) 0px 0px 0px 1px;
}

@media (max-width: 600px) {
  .main-nav {
    padding: 1em;
    padding-left: 2em;
  }
}
/*# sourceMappingURL=add.css.map */


#messagealert{
  height: 20vh;
  margin-bottom: -50px;
}