* {
  /* --body-background:#508991;
  --body-color:#172A3A; */
  --main-color:#74B3CE;
  /* --main-background:#004346; */
  --text-color:#09BC8A;
  --white-wash:#edffec;
  outline: none;
}

html, body {
  margin: 0;
}

body {
  /* background: var(--body-background);
  color: var(--body-color); */
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-body {
  width: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2em;
  background: var(--white-wash);
}

.main-nav {
  height: 30px;
  width: 100%;
  padding: 1em;
}

.main-nav .go-back {
  padding: .5em;
  background: var(--body-background);
  border: none;
  border-radius: 5px;
  color: var(--white-wash);
}

.main-nav .go-back:hover {
  -webkit-box-shadow: 0px 0px 0px 2px var(--main-color);
          box-shadow: 0px 0px 0px 2px var(--main-color);
}

.main-nav .header-title {
  width: 90%;
  text-align: center;
}

.farmer-section {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.farmer-section > div {
  width: 90%;
  padding: 10px;
}

.farmer-search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.farmer-search-div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
}

.farmer-search-div .search-div {
  width: calc(100% - 200px);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.farmer-search-div .filter {
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.farmer-search-div .input-search {
  padding: .3em;
  border-radius: 5px;
  border: none;
}

.farmer-search-div .search-input {
  width: 70%;
  border: 1px solid var(--main-color);
  color: var(--body-color);
  border-radius: 2px;
  margin-right: .5em;
}

.farmer-search-div .submit-btn {
  cursor: pointer;
  background: var(--main-background);
  border: 1px solid var(--main-background);
  color: var(--white-wash);
}

.farmer-search-div .search-input:focus {
  -webkit-box-shadow: 0px 0px 0px 1px var(--main-color);
          box-shadow: 0px 0px 0px 1px var(--main-color);
}

.farmer-search-div .submit-btn:hover, .farmer-search-div .submit-btn:focus {
  background: var(--body-color);
}

.farmer-search-div .filter-select {
  cursor: pointer;
  width: 120px;
  color: var(--white-wash);
  background: var(--body-color);
}

.list-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: var(--white-wash);
  color: var(--body-color);
}

.list-detail > div {
  width: 100%;
  margin-bottom: .5em;
  padding: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.list-detail > div > div {
  padding: .2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.03) 1px 0px 0px;
          box-shadow: rgba(0, 0, 0, 0.03) 1px 0px 0px;
}

.list-detail > div > div > p {
  text-align: center;
}

.list-detail > div > div:nth-child(4) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.list-detail p {
  display: inline;
  padding: .5em;
}

.list-detail .arrange-details {
  text-transform: uppercase;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.list-detail .farmer-details:hover {
  border-bottom: 1px solid var(--white-wash);
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.list-detail .farmer-details {
  cursor: text;
}

.list-detail .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.list-detail .inner {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.list-detail .inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid var(--body-color);
}

.list-detail .inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid var(--body-background);
}

.list-detail .inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid var(--text-color);
}

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.list-detail .when-loading {
  height: 200px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.list-detail .activeLoader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-detail .view-more {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  width: 50px;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: .2em;
  background: var(--white-wash);
  color: var(--body-color);
  border: 1px solid var(--body-color);
  padding: .2em .1em;
  cursor: pointer;
  border-radius: 3px;
  font-size: .7rem;
}

.list-detail .view-more:hover {
  background: var(--main-background);
  color: var(--white-wash);
  border: 1px solid var(--body-color);
}

.list-detail .more-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  padding: .3em;
  line-height: 1.5;
  font-size: .9em;
  display: none;
}

.list-detail .more-content .more-information {
  width: 100%;
  padding: .5em;
}

.list-detail .active {
  display: inline;
}

.list-detail .active-btn {
  background: var(--main-background);
  color: var(--white-wash);
  border: 1px solid var(--body-color);
}

@media (max-width: 600px) {
  .farmer-search-div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
  }
  .farmer-search-div .search-div {
    width: 100%;
  }
  .farmer-search-div .filter {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=farmer.css.map */