* {
  --body-background:#508991;
  --body-color:#172A3A;
  --main-color:#74B3CE;
  --main-background:#004346;
  --text-color:#09BC8A;
  --white-wash:#edffec;
  outline: none;
}

html, body {
  margin: 0;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-main {
  margin-top: 2rem;
  min-width: 300px;
  min-height: 80%;
  background: var(--body-color);
  color: var(--main-color);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.main-form {
  width: 90%;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6em;
}

.main-form label {
  display: block;
  width: 100%;
  margin-left: 30px;
  margin-bottom: .5em;
}

.main-form > div {
  width: 100%;
  margin-bottom: .5em;
}

.main-form input {
  width: 90%;
  padding: .4em;
  border: none;
  border-radius: 2px;
}

.main-form input:hover {
  -webkit-box-shadow: var(--main-color) 0px 0px 0px 2px;
          box-shadow: var(--main-color) 0px 0px 0px 2px;
}

.main-header {
  color: var(--white-wash);
  position: absolute;
  top: 5%;
  left: inherit;
  max-height: 60px;
  width: 50%;
  text-align: center;
}

.main-header > h1 {
  width: 100%;
  position: relative;
}

.main-header::before {
  content: " ";
  width: 100px;
  position: absolute;
  top: 100%;
  left: 30px;
  height: 5px;
  color: var(--main-color);
  background: var(--white-wash);
}

.form-div-email, .form-div-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-forgot {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.form-forgot a {
  color: var(--body-background);
}

.form-forgot a:hover {
  color: var(--main-color);
}

.form-div-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: .3rem;
}

.form-div-submit .input-submit {
  width: 92%;
  padding: .6em;
  background: var(--main-color);
  color: var(--white-wash);
  border: none;
  border-radius: 0%;
}

.form-div-submit .input-submit:hover {
  background: var(--body-background);
  -webkit-box-shadow: var(--main-color) 0px 0px 0px 1px;
          box-shadow: var(--main-color) 0px 0px 0px 1px;
}

.form-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-top: 1em;
}

.form-signup .signup-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin-right: 2em;
  margin-bottom: 3em;
}

.form-signup .signup-label .signup-p {
  width: 10%;
  position: relative;
  color: var(--body-background);
  text-align: center;
  border: 1px solid var(--main-background);
}

.form-signup .signup-label .signup-p::before, .form-signup .signup-label .signup-p::after {
  content: "";
  width: 120px;
  height: 1px;
  background: var(--body-background);
  position: absolute;
  top: 50%;
}

.form-signup .signup-p::before {
  left: 50px;
}

.form-signup .signup-p::after {
  right: 50px;
}

.form-signup .signup-btn {
  padding: .3em;
  width: 50%;
  border: 1px solid var(--white-wash);
  color: var(--white-wash);
  background: var(--body-color);
  text-align: center;
  text-decoration: none;
  margin-bottom: 1em;
}

.form-signup .signup-btn:hover {
  border: 1px solid var(--body-color);
  color: var(--body-color);
  background: var(--white-wash);
}
/*# sourceMappingURL=login.css.map */