*{
    --body-background:#508991;
    --body-color:#172A3A;
    --main-color:#74B3CE;
    --main-background:#004346;
    --text-color:#09BC8A;
    --white-wash:#fff;
    outline:none;
}html,body{margin:0;
}body{
 background:rebeccapurple;
 color:var(--body-color);
 box-sizing: border-box;
 width:100vw;
 
}.body-main{
    width:100%;
    background:var(--body-color);
    position:relative;
}//navigation panel

.main-nav{
    width:70px;
    background: var(--body-color);
    color:var(--body-background);
    position:fixed;
    font-family: 'Playfair Display', serif;
    top:0;
    transition: width .6s;
    left:0;
    height:100vh;
    z-index:40;
    display:none;
    .main-nav-div{
        width:100%; 
        height:100%;
        margin-top:20px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        > a{  width:calc(100% - 2em);
            text-decoration:none;
            color:var(--text-color);
           // border:1px solid white;
            padding:1em;
            > svg{
                width:20px;
                aspect-ratio: 1;
                padding:.5em;
                
            }.hidden-link{
                display:none;
            }
        }#hide-div{
            width:100%;
            text-decoration:none;
            cursor: pointer;
            color:var(--text-color);
            position: relative;
            display:flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            transition: height 2s;
            .hide-div-dropdown-svg{
                width:calc(100% - 2em);
                display: flex;
                align-items: center;
                justify-content:flex-start;
                padding:1em;
                > svg{
                    width:20px;
                    aspect-ratio: 1;
                    padding:.5em;
                }
            }
            .hidden-link{
                display:none;
            }.dropdown-farmer{
                width:100%;
                opacity:1;
                right:-50px;
                display:none;
                position:absolute;
                border-radius:5px;
                transition:all .6s ease-in-out;
                background:var(--body-color);
                > a{
                    color:var(--text-color);
                    width:calc(100% - .2em);
                    text-decoration:none;
                    color:var(--text-color);
                    display: flex;
                    align-items: center;
                    border:1px solid var(--main-background);
                    justify-content:space-evenly;
                    padding:.1em;
                    
                    .hidden-link-dropdown{
                        display:none;
                    }
                    > svg{
                        width:20px;
                        aspect-ratio: 1;
                        padding:1em;
                    }
                }> a:hover{
                    color:var(--body-color);
                    background: var(--text-color);
                }
            }.dropdown-farmer-active{
                display:block;
                opacity:1;
            }
        }a:hover, #hide-div:hover{
            color:var(--body-color);
            background: var(--text-color);
        }
  }.main-nav-dropdown{
        width:100%;
        height:50px;
        display: flex;
        align-items: flex-start;
        justify-content: end;
        position:relative;
       #cross{
           display:none;
           padding:.5em;
           color:var(--main-color);
       }#cross:hover{
        color:var(--body-background);
       }.image-nav-logo{
           width:100% ;
           height:100%;
           position:absolute;
           display: flex;
        align-items: center;
        justify-content: flex-start;
           top:0;
           left:0;
           > a{
            width:100%;
            height:100%;
            > img{
                width:100%;
                max-width:70px;
                height:100%;
            }
           }
       }
   }
}.main-nav-active-hover{
    display:block;
}
.main-nav-active{
    width:200px;
    #nav-btn-hider{
        display:none;
    }
    .main-nav-dropdown .image-nav-logo{
        display:none;
    }
    .main-nav-div a .hidden-link, .main-nav-div #hide-div .hidden-link{
        display:inline;
    }.main-nav-div > a{
        padding:0em 1em;
    }.main-nav-dropdown #cross{
        display:inline;
    }.main-nav-dropdown .image-nav-logo{
        width:70px;
        padding-left:0;
    }.main-nav-div #hide-div .dropdown-farmer{
        right:-120px;
    }.main-nav-div a{
        width:calc(100% - 2em);
    }.main-nav-div #hide-div{
        width:100%;
        .hide-div-dropdown-svg{
            padding: 0px;
            padding-left: 1em;
            width:calc(100% - 1em);
            > svg{
                display: none;
            }
        }.dropdown-farmer{
            right:-180px;
            top:0;
            > a{
        
                .hidden-link-dropdown{
                    display:block;
                }
                > svg{
                    display:none;
                }
        }
    }}.main-nav-div #hide-div .dropdown-farmer .hidden-link-dropdown{
       display:block;
    }.main-nav-div{
        > a{ 
            > svg{
                display:none;
            }.hidden-link{
                display:block;
            }
        }
        
    }
}
//main body
.main-body{
    width:100%;
    background:var(--main-background);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    position:relative;
    height:calc(100% - 5em);
    padding-top:5em;
    .menu-hoverable-display{
        width:100%;
        position:absolute;
        top:0;
        left:0;
        height:50px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        i{  margin:.5em;
            color:var(--white-wash);
            font-size:1.5rem;
        }a{ 
            width:100px;
            height:100%;
            display: none;
            align-items:center;
            justify-content:flex-end;
            margin:.5em;
            > img{
                max-width:70px;
                max-width:50px;
            }
        }
    }> section{
        width:calc(90% - 2em);
        margin-bottom:15rem;
        border-radius: 5px;
        line-height:1.5;
        padding:1em;
        font-family: 'Source Sans Pro', sans-serif;
        position:relative;
        
    }.dashboard{
        border-radius: 0px;
        width:calc(98% - 2em);
        margin-bottom:5rem;
    }.header-div{
        position:absolute;
        font-family: 'Roboto Condensed', sans-serif;
        top:5%;
        left:50%;
        transform: translate(-50%, -50%);
        display:flex;
        align-items: center;
        justify-content: center;
        height:30px;
        padding:.5em;
    }.header-before{
        position:relative;
        width:50%;
        ::before{
            content:"";
            width:200px;
            height:2px;
            background-color:var(--body-background);
            position:absolute;
            top:50%;
            right:-60%;
            transform: translate(-50%, -50%);
           }
           ::after{
            content:"";
            width:200px;
            height:2px;
            background-color:var(--body-background);
            position:absolute;
            top:50%;
            left:0%;
            transform: translate(-50%, -50%);
           }
    }transition:margin .6s;
}.main-body-with-nav{
    margin-left:200px;
    .menu-hoverable-display{
        display:none;
    }
}.main-body-nav-normal-display{
    width:calc(100% - 70px );
    margin-left:70px ;
}.header-div-dashboard{
    width:calc(98% - 2em);
    background:var(--body-color);
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self:center;
    margin-top: 2em;
    margin-bottom:0em;
    justify-self:center;
    padding:1em;
    border-bottom:2px solid var(--main-color);
    flex-direction: row;
    //animation:motion 2s ease-in-out forwards;
    > header{
        color:var(--main-color);
        font-size:2rem;
    }
}
.dashboard{
    font-size:1.5rem;
    
    color:var(--main-color);
    background: var(--body-color);
    > article{
        width:calc(100% - 1em);
        padding:.5em;
    }.about-info{
        position:relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }.div-statistics{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        article{
            width:50%;
        }
    }
    p{
    text-align: justify;
     max-width:600px;
     display:inline;
    }
    span{
        color:var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:6rem;
        float:left;
        height:70px;
        display:inline-flex;
        font-weight: 800;
    }table{
        max-width:500px;
        border:1px solid black;
        width:100%;
    }table, thead, tbody{
        border-collapse: collapse;
    }thead, tbody,td,th{
        border:1px solid var(--text-color);
        text-align: center;
    }.about-stats{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom:5px;
    }.about-stats-1 >div{
        width:calc(90% - 2em);
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding:1em;
        h4{
            font-size:1.5rem;
        }table{
            width:100%;
        }
    }.svg-display{
        width:100%;
        max-width: 500px;
        display:flex;
        align-items: center;
        justify-content: center;
        > svg{
            font-size:3rem;
            font-weight: 800;
            letter-spacing:.1em;
        }
    }
}.header-div-review{
    width:50%;
    background:var(--main-color);
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:-25px;
    left:25%;
    transform:translate(-50%, -50%);
    transform:skewX(45deg);
    align-self:center;
    justify-self:center;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    //animation:motion 2s ease-in-out forwards;
    header{
        transform:skewX(-45deg);
        color:var(--body-color);
        font-size:2rem;
    }
}
.review{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:4em;
    position: relative;
    min-height:500px;
    box-shadow: var(--body-color) 0px 0px 2px 1px;
    .review-customers{
        
        width:calc(100% - 1em);
        min-height:500px;
        padding:.5rem;
        margin-bottom:1em;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }article{
        width:100%;
        min-height:500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position:relative;
    }.div-image{
        width:150px;
        height:150px;
        border-radius:50%;
        border:3px solid var(--main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow:hidden;
        position:absolute;
        top:50%;
        transition:.5s ease-in-out;
        left:50%;
        transform: translate(-50% , -50%);
        z-index: 1;
    }article:hover{
        .div-image{
            width:100px;
            height:100px;
            top:15%;
        }.p-text{
            color:var(--body-color);
            padding-top:3em;
            border-left:2px solid var(--text-color);
            box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
        >img{
            opacity: 1;
        }> span{
            color:var(--main-background);
            
        }
        }
            
    }#img-rev{
        width:100%;
    }.p-text{
        width:calc(80% - 1em);
        height:calc(70% - 1em);
        transform: translate(-50% , -50%);
        background:var(--main-color);
        color:var(--main-color);
        padding:.5em;
        border-left:2px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position:absolute;
        top:50%;
        left:50%;
        transition:all .8s ease-in-out;
            > span{
                width:100%;
                display: inline;
                padding:.5em;
                color:var(--main-color);
                transition:all .8s ease-in-out;
            }> span::before{
                content:"~ ";
            }
            >img{
                width:50px;
                opacity:0;
                aspect-ratio: 1;
                align-self: flex-start;
                //border:2px solid var(--text-color);
                position: relative;
                margin-bottom:1em;
                transition:opacity .8s ease-in-out;
            }
        
    }
}.display-images::before{
    content:"";
    background: var(--body-color);
    opacity:.4;
    width:100%;
    height:100%;
    position: absolute;
    top:0%;
    left:0%;
    z-index: 3;
}.display-images{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    position:relative;
    overflow: hidden;
    .option-image{
        min-height: 400px;
        width:100%;
        height:100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        
    }.clipped-div{
        width:100%;
        height:100%;
        position:absolute;
        top:0%;
        left:0%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index:5;
        transition-delay:.25s;
        transition: all .8s;
        clip-path: circle(0px at center);
        
        > img{
            width:100%;
            max-width:900px;
            height:100%;
            object-fit: cover;
            
        }
    }
    input[type="radio"]{
        position:absolute;
        bottom:5%;
        z-index: 4;
        left:46%;
        display:none;
    }input[type="radio"]:nth-child(5){
        left:50%;
    }input[type="radio"]:nth-child(3){
        left:54%;
    }input[type="radio"]:first-child{
        left:58%;
    }input[type="radio"]:checked + .clipped-div{
        transition-delay:.2s;
        clip-path: circle(100% at center);
        
    }
}

//small screen

@media (max-width:800px){ // should be 800
    .dashboard{
        .div-statistics{
            justify-content: space-evenly;
            flex-direction: column;
            article{
                width:100%;
            }
        }
    }
    .review{
        .review-customers{
            flex-direction: column;
            
        }.header-div-review{
            top:-26px;
            header{
                font-size:1.3rem;
            }
            
        }
    }
    .main-body{
        width:100%;
        margin: 0;
    }.main-body .menu-hoverable-display{
a{display: inline;
        }
    }.main-nav{
        display:none;
        opacity:0;
        height:100%;
        .main-nav-div{
            #hide-div{
                align-items: center;
                .hide-div-dropdown-svg{
                    width:calc(100% - 1em);
                    
                }
                .hidden-link{
                    display:inline;
                }
                .dropdown-farmer{
                    border-radius:0px;
                    width:100%;
                    right:0px;
                    display:none;
                    position:relative;
                    height:100px;
                    background:var(--body-color);
                    > a{ border:none;
                        color:var(--text-color);
                        width:calc(100% - 2em);
                        text-decoration:none;
                        height:calc(50% - 2em);
                        display: block;
                        padding:1em;
                        .hidden-link-dropdown{
                            display:inline;
                        }
                    }> a:hover{
                        color:var(--body-color);
                        background: var(--text-color);
                    }
                }.dropdown-farmer-active{
                    display:block;
                    opacity:1;
                    height:100px;
                }
        } 
    }
    }.main-nav-active{
        animation:opacity .6s forwards ease-in-out;
        display: block;
        z-index:10;
    }@keyframes opacity{
        0%{opacity:0;width:0;}
        100%{opacity:1;width:100%;}
    }
}@media (max-width:800px) and (min-width:600px){ 
    .review{
        .div-image{
            width:200px;
            height:200px;
        }article:hover{
            .div-image{
                width:150px;
                height:150px;
                top:25%;
            }
        }.p-text{
            height:50%;
        }
    }
}
//tablet
@media (max-width:600px){
.review{
article:hover{
            .div-image{
                top:25%;
            }
                
        }.p-text{
            height:50%;
        }
    }
    
}footer{
    
    width:100%;
    height:50px;
    display: flex;
    align-items: center;
    background:var(--body-color);
    justify-content: center;
    align-items: center;
    > div{
      width:50%;
      text-align:center;
      color:var(--text-color);
    }
}
