* {
  --body-background:#508991;
  --body-color:#172A3A;
  --main-color:#74B3CE;
  --main-background:#004346;
  --text-color:#09BC8A;
  --white-wash:#fff;
  outline: none;
}

html, body {
  margin: 0;
}

body {
  background: rebeccapurple;
  color: var(--body-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 100vw;
}

.body-main {
  width: 100%;
  background: var(--body-color);
  position: relative;
}

.main-nav {
  width: 70px;
  background: var(--body-color);
  color: var(--body-background);
  position: fixed;
  font-family: 'Playfair Display', serif;
  top: 0;
  -webkit-transition: width .6s;
  transition: width .6s;
  left: 0;
  height: 100vh;
  z-index: 4;
}

.main-nav .main-nav-div {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-nav .main-nav-div > a {
  width: calc(100% - 2em);
  text-decoration: none;
  color: var(--text-color);
  padding: 1em;
}

.main-nav .main-nav-div > a > svg {
  width: 20px;
  aspect-ratio: 1;
  padding: .5em;
}

.main-nav .main-nav-div > a .hidden-link {
  display: none;
}

.main-nav .main-nav-div #hide-div {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: height 2s;
  transition: height 2s;
}

.main-nav .main-nav-div #hide-div .hide-div-dropdown-svg {
  width: calc(100% - 2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1em;
}

.main-nav .main-nav-div #hide-div .hide-div-dropdown-svg > svg {
  width: 20px;
  aspect-ratio: 1;
  padding: .5em;
}

.main-nav .main-nav-div #hide-div .hidden-link {
  display: none;
}

.main-nav .main-nav-div #hide-div .dropdown-farmer {
  width: 100%;
  opacity: 1;
  right: -80px;
  display: none;
  position: absolute;
  border-radius: 5px;
  -webkit-transition: all .6s;
  transition: all .6s;
  background: var(--body-color);
}

.main-nav .main-nav-div #hide-div .dropdown-farmer > a {
  color: var(--text-color);
  width: calc(100% - .2em);
  text-decoration: none;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: .1em;
}

.main-nav .main-nav-div #hide-div .dropdown-farmer > a .hidden-link-dropdown {
  display: none;
}

.main-nav .main-nav-div #hide-div .dropdown-farmer > a > svg {
  width: 20px;
  aspect-ratio: 1;
  padding: 1em;
}

.main-nav .main-nav-div #hide-div .dropdown-farmer > a:hover {
  color: var(--body-color);
  background: var(--text-color);
}

.main-nav .main-nav-div #hide-div .dropdown-farmer-active {
  display: block;
  opacity: 1;
}

.main-nav .main-nav-div a:hover, .main-nav .main-nav-div #hide-div:hover {
  color: var(--body-color);
  background: var(--text-color);
}

.main-nav .main-nav-dropdown {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

.main-nav .main-nav-dropdown #cross {
  display: none;
  padding: .5em;
  color: var(--main-color);
}

.main-nav .main-nav-dropdown #cross:hover {
  color: var(--body-background);
}

.main-nav .main-nav-dropdown .image-nav-logo {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 0;
  left: 0;
}

.main-nav .main-nav-dropdown .image-nav-logo > a {
  width: 100%;
  height: 100%;
}

.main-nav .main-nav-dropdown .image-nav-logo > a > img {
  width: 100%;
  max-width: 70px;
  height: 100%;
}

.main-nav-active {
  width: 200px;
}

.main-nav-active .main-nav-dropdown .image-nav-logo {
  display: none;
}

.main-nav-active .main-nav-div a .hidden-link, .main-nav-active .main-nav-div #hide-div .hidden-link {
  display: inline;
}

.main-nav-active .main-nav-div > a {
  padding: 0em 1em;
}

.main-nav-active .main-nav-dropdown #cross {
  display: inline;
}

.main-nav-active .main-nav-dropdown .image-nav-logo {
  width: 70px;
  padding-left: 0;
}

.main-nav-active .main-nav-div #hide-div .dropdown-farmer {
  right: -120px;
}

.main-nav-active .main-nav-div a {
  width: calc(100% - 2em);
}

.main-nav-active .main-nav-div #hide-div {
  width: 100%;
}

.main-nav-active .main-nav-div #hide-div .hide-div-dropdown-svg {
  padding: 0px;
  padding-left: 1em;
  width: calc(100% - 1em);
}

.main-nav-active .main-nav-div #hide-div .hide-div-dropdown-svg > svg {
  display: none;
}

.main-nav-active .main-nav-div #hide-div .dropdown-farmer {
  right: -210px;
  top: 0;
}

.main-nav-active .main-nav-div #hide-div .dropdown-farmer > a .hidden-link-dropdown {
  display: block;
}

.main-nav-active .main-nav-div #hide-div .dropdown-farmer > a > svg {
  display: none;
}

.main-nav-active .main-nav-div #hide-div .dropdown-farmer .hidden-link-dropdown {
  display: block;
}

.main-nav-active .main-nav-div > a > svg {
  display: none;
}

.main-nav-active .main-nav-div > a .hidden-link {
  display: block;
}

.main-body {
  width: calc(100% - 70px);
  background: var(--main-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  position: relative;
  margin-left: 70px;
  padding-top: 60px;
  -webkit-transition: margin .6s;
  transition: margin .6s;
}

.main-body .menu-hoverable-display {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-body .menu-hoverable-display i {
  margin: .5em;
  color: var(--white-wash);
  font-size: 1.5rem;
}

.main-body .menu-hoverable-display a {
  width: 100px;
  height: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: .5em;
}

.main-body .menu-hoverable-display a > img {
  max-width: 70px;
  max-width: 50px;
}

.main-body > section {
  width: 90%;
  margin: .5rem;
  background: var(--body-color);
  border-radius: 5px;
  line-height: 1.5;
  color: var(--main-color);
  padding: 1em;
  padding-top: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

.main-body header {
  color: var(--main-color);
  text-align: center;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-body .header-div {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  padding: .5em;
}

.main-body .header-before {
  position: relative;
  width: 50%;
}

.main-body .header-before ::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: var(--body-background);
  position: absolute;
  top: 50%;
  right: -60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-body .header-before ::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: var(--body-background);
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-body-with-nav {
  margin-left: 200px;
}

.main-body-with-nav .menu-hoverable-display {
  display: none;
}

.dashboard {
  font-size: 20px;
}

.dashboard div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard p {
  text-align: justify;
  max-width: 600px;
  padding-top: 8em;
}

.dashboard span {
  color: var(--text-color);
  font-size: 6rem;
  height: 50px;
  float: left;
  font-weight: 800;
}

.dashboard table {
  max-width: 500px;
  border: 1px solid black;
  width: 100%;
}

.dashboard table, .dashboard thead, .dashboard tbody {
  border-collapse: collapse;
}

.dashboard thead, .dashboard tbody, .dashboard td, .dashboard th {
  border: 1px solid var(--text-color);
  text-align: center;
}

.dashboard article:not(article:first-child) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5px;
}

.dashboard .svg-display {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard svg {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: .1em;
}

.review {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  min-height: 600px;
}

.review .header-div {
  width: 100%;
  height: 50px;
}

.review .review-customers {
  width: 90%;
  min-height: 100%;
  padding: .5rem;
  margin-bottom: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review article {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.review .div-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.review article:hover .div-image {
  width: 100px;
  height: 100px;
  top: 10%;
}

.review article:hover .p-text {
  color: var(--body-color);
  padding-top: 3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
          box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.review #img-rev {
  width: 100%;
}

.review .p-text {
  width: 80%;
  height: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--main-color);
  color: var(--main-color);
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.review p {
  width: 100%;
  min-height: 100px;
}

.display-images {
  background: var(--body-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.display-images .option-image {
  min-height: 400px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display-images .clipped-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-clip-path: circle(0px at center);
          clip-path: circle(0px at center);
}

.display-images .clipped-div > img {
  width: 600px;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.display-images input[type="radio"] {
  position: absolute;
  bottom: 5%;
  z-index: 4;
  left: 46%;
}

.display-images input[type="radio"]:nth-child(5) {
  left: 50%;
}

.display-images input[type="radio"]:nth-child(3) {
  left: 54%;
}

.display-images input[type="radio"]:first-child {
  left: 58%;
}

.display-images input[type="radio"]:checked + .clipped-div {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-clip-path: circle(100% at center);
          clip-path: circle(100% at center);
}

@media (max-width: 500px) {
  .main-body {
    width: 100%;
    margin: 0;
  }
  .main-body .menu-hoverable-display a {
    display: inline;
  }
  .main-nav {
    display: none;
    opacity: 0;
  }
  .main-nav .main-nav-div #hide-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .main-nav-div #hide-div .hide-div-dropdown-svg {
    width: calc(100% - 1em);
  }
  .main-nav .main-nav-div #hide-div .hidden-link {
    display: inline;
  }
  .main-nav .main-nav-div #hide-div .dropdown-farmer {
    border-radius: 0px;
    width: 100%;
    display: none;
    position: relative;
    height: 100px;
    background: var(--body-color);
  }
  .main-nav .main-nav-div #hide-div .dropdown-farmer > a {
    color: var(--text-color);
    width: calc(100% - 2em);
    text-decoration: none;
    height: calc(50% - 2em);
    display: block;
    padding: 1em;
  }
  .main-nav .main-nav-div #hide-div .dropdown-farmer > a .hidden-link-dropdown {
    display: inline;
  }
  .main-nav .main-nav-div #hide-div .dropdown-farmer > a:hover {
    color: var(--body-color);
    background: var(--text-color);
  }
  .main-nav .main-nav-div #hide-div .dropdown-farmer-active {
    display: block;
    opacity: 1;
    height: 100px;
  }
  .main-nav-active {
    -webkit-animation: opacity .6s forwards ease-in-out;
            animation: opacity .6s forwards ease-in-out;
    display: block;
    z-index: 10;
  }
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
}

@media (min-width: 801px) {
  .review .review-customers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .review-customers {
    min-height: 500px;
    height: 500px;
  }
}

footer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--body-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

footer > div {
  width: 50%;
  text-align: center;
  color: var(--text-color);
}
/*# sourceMappingURL=index.css.map */