*{
    --body-background:#508991;
    --body-color:#172A3A;
    --main-color:#74B3CE;
    --main-background:#004346;
    --text-color:#09BC8A;
    --white-wash:#edffec;
    outline:none;
}html,body{margin:0;
}body{
 background:var(--body-color);
 color:var(--body-color);
 width:100vw;
 display:flex;
 align-items:center;
 justify-content: center;
}
.body-main{
    width:80%;
    margin-top:2em;
    padding:.5em;
    padding-top:70px;
    max-width:500px;
    background:var(--body-background);
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
.main-header{
    width:100%;
    position:absolute;
    text-align: center;
    top:0%;
    left:0%;
    color:var(--body-color);
}.main-form{
    width:100%;
    min-height:300px;
    padding:.5em;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    color:var(--body-color);
    > div{
        width:100%;
        >label{
            display: block;
            margin-bottom:.4em;
        }
        > input{
            padding:.3em;
            margin-bottom:.5em;
            width:50%;
            border: 1px solid var(--body-color);
            
        }> input:hover{
            border: 1px solid var(--body-background);
            box-shadow:  0px 0px 0px 1px var(--body-color);
        }
    }.sign-up-btn{
        margin-top: 2em;
        display:flex;
        align-items:center;
        justify-content:center;
        input{
            border: 1px solid var(--main-background);
            background: var(--text-color);
            padding:.5em;
            color:var(--white-wash);
        }input:hover{
            border: 1px solid var(--white-wash);
        }
    }.go-to-login{
        text-align: center;
    }.go-to-login a{
        color:var(--white-wash);
        text-decoration: none;
    }.go-to-login a:hover{
        text-decoration: underline;
    }.go-to-login a:active{
        color:var(--body-color);
    }.select-role{
        width:50%;
        padding:.3em;
        margin-bottom:5px;
    }
}
}